* {
    box-sizing: border-box;
    font-family: Verdana, Garamond, "Gill Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

.calculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 750px;
    border-radius: 20px;
    background-color: #212529;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #000000;
    color: #ADB5BD;
}

.links {
    font-size: 0.8rem;
    margin-left: 60px;
}

#odinlink,
#githublink {
    color: #ADB5BD;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 40px;
    margin-left: 60px;
}

.display {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

input {
    font-family: LCD2, Verdana, Garamond, "Gill Sans", sans-serif;
    font-size: 3rem;
    text-align: right;
    padding-right: 20px;
    width: 75%;
    height: 65%;
    border: 0px;
    border-radius: 10px;
    background-color: #54655A;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 370px;
    height: 80%;
    gap: 10px;
    margin-bottom: 10px;
}

.operators,
.numbers,
.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

[data-key="0"] {
    width: 180px;
}

[data-key="Enter"] {
    height: 150px;
}

.partition {
    display: flex;
    
}

button {
    cursor: pointer;
    width: 85px;
    height: 70px;
    border: 0px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: #6C757D;
    transition-duration: 0.3s;
}

#operator,
#equal {
    background-color: #ADB5BD;
    transition-duration: 0.3s;
}

#clear,
#allClear {
    background-color: #EB5E28;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #000000;
    color: #6C757D;
}

#operator:hover,
#equal:hover {
    background-color: #000000;
    color: #ADB5BD;
}

#clear:hover,
#allClear:hover {
    background-color: #000000;
    color: #EB5E28;
}
